/* === Service === */
.service-item .service-text {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .06);
  transition: .5s;
  z-index: 2;
}

.service-item:hover .service-text {
  top: -1.5rem;
}

.service-item .service-text h5 {
  transition: .5s;
}

.service-item:hover .service-text h5 {
  color: var(--primary);
}

.service-item .service-btn {
  position: absolute;
  width: 80%;
  height: 3rem;
  left: 10%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .07);
  transition: .5s;
  z-index: 1;
}
.service-item:hover .service-btn {
  bottom: -1.5rem;
}
.pointer {
  cursor: pointer;
}